name: Build and Release Plugin

on:
  push:
    branches:
      - main

env:
  PROJECT_NAME: CraftimizerCN

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: true

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0'

      - name: Download Dalamud
        run: |
          wget https://goatcorp.github.io/dalamud-distrib/latest.zip
          unzip latest.zip -d dalamud/
          echo "DALAMUD_HOME=$PWD/dalamud" >> $GITHUB_ENV

      - name: Restore
        run: |
          dotnet restore -r win

      - name: Build
        run: |
          dotnet build --configuration Release --no-restore

      - name: Get commit hash
        id: get_hash
        run: echo "short_sha=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Create tag
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git tag build-${{ steps.get_hash.outputs.short_sha }}
          git push origin build-${{ steps.get_hash.outputs.short_sha }}

      - name: Package release files
        run: |
          cd ${{ env.PROJECT_NAME }}/bin/x64/Release
          zip -r latest.zip .

      - name: Create Release
        uses: softprops/action-gh-release@v1
        id: release
        with:
          tag_name: build-${{ steps.get_hash.outputs.short_sha }}
          name: "Release for ${{ steps.get_hash.outputs.short_sha }}"
          files: ${{env.PROJECT_NAME}}/bin/x64/Release/latest.zip
          body: |
            This is an automatic build from commit `${{ steps.get_hash.outputs.short_sha }}`
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
