name: Build and Release Plugin

on:
  push:
    branches:
      - main

env:
  PROJECT_NAME: Craftimizer

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: true

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0'

      - name: Download Dalamud
        run: |
          wget https://goatcorp.github.io/dalamud-distrib/latest.zip
          unzip latest.zip -d dalamud/
          echo "DALAMUD_HOME=$PWD/dalamud" >> $GITHUB_ENV

      - name: Restore
        run: |
          dotnet restore -r win

      - name: Build
        run: |
          dotnet build --configuration Release --no-restore

      - name: Create Release
        uses: softprops/action-gh-release@v1
        id: release
        with:
          tag_name: sha-${{ github.sha.substring(0, 7) }}
          files: ${{env.PROJECT_NAME}}/bin/x64/Release/${{env.PROJECT_NAME}}/*
